.tabs {
  width: 90%;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.tabs h1 {
  color: #fff;
}

/* Responsive */
/* Small devices */
@media (min-width: 576px) {
  .tabs {
    width: 90%;
    padding: 15px 20px;
  }
}
/* Medium And Large devices */
@media (min-width: 768px) {
  .tabs {
    width: 500px;
    padding: 15px 100px;
  }
}
