.tab-content {
  width: 100%;
  min-height: 200px;
  max-height: 60vh;
  overflow-y: auto;
}

.tab-content:focus {
  background-color: rgba(255, 255, 255, 0.15);
}

.tab-content .tab-list {
  max-width: 100%;
  padding: 0;
  font-size: 1.12em;
  color: #fff;
  text-align: left;
}

.tab-content .tab-list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab-content .no-data {
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
}
